<section class="cards cards-grid">
	<div class="slider-cards">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="card card--border">
					<div class="card--body">
						<picture>
							<source srcset="img/card-mobile-1.webp" type="image/webp" media="(max-width: 768px)">
							<source srcset="img/card-mobile-1.avif" type="image/avif" media="(max-width: 768px)">
							<source srcset="img/card-1.webp" type="image/webp" media="(min-width: 768px)">
							<source srcset="img/card-1.avif" type="image/avif" media="(min-width: 768px)">
							<img src="img/card-1.png" alt="Card image" class="card--img">
						</picture>
						<h3 class="card--title">Ежедневный возврат наложенных платежей</h3>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card card--border">
					<div class="card--body">
						<picture>
							<source srcset="img/card-mobile-2.webp" type="image/webp" media="(max-width: 768px)">
							<source srcset="img/card-mobile-2.avif" type="image/avif" media="(max-width: 768px)">
							<source srcset="img/card-2.webp" type="image/webp" media="(min-width: 768px)">
							<source srcset="img/card-2.avif" type="image/avif" media="(min-width: 768px)">
							<img src="img/card-2.png" alt="Card image" class="card--img">
						</picture>
						<h3 class="card--title">Доставка по городам ЦФО на следующий день</h3>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card card--border">
					<div class="card--body">
						<picture>
							<source srcset="img/card-mobile-3.webp" type="image/webp" media="(max-width: 768px)">
							<source srcset="img/card-mobile-3.avif" type="image/avif" media="(max-width: 768px)">
							<source srcset="img/card-3.webp" type="image/webp" media="(min-width: 768px)">
							<source srcset="img/card-3.avif" type="image/avif" media="(min-width: 768px)">
							<img src="img/card-3.png" alt="Card image" class="card--img">
						</picture>
						<h3 class="card--title">Доставка из&nbsp; оффлайн-магазинов Ship&nbsp;From&nbsp;Store</h3>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card card--border">
					<div class="card--body">
						<picture>
							<source srcset="img/card-mobile-4.webp" type="image/webp" media="(max-width: 768px)">
							<source srcset="img/card-mobile-4.avif" type="image/avif" media="(max-width: 768px)">
							<source srcset="img/card-4.webp" type="image/webp" media="(min-width: 768px)">
							<source srcset="img/card-4.avif" type="image/avif" media="(min-width: 768px)">
							<img src="img/card-4.png" alt="Card image" class="card--img">
						</picture>
						<h3 class="card--title">Доставка по России через партнёров</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--- 368*164 -->
