<header class="header">
	<div class="grid header_grid">
		<div class="logo">
			<img src="img/logo.svg" alt="">
		</div>
		<nav class="header_nav nav">
			<ul class="header_nav-list nav_list">
				<li class="nav_item"><a href="#" class="nav_link">Главная</a></li>
				<li class="nav_item"><a href="#" class="nav_link">Показатели</a></li>
				<li class="nav_item"><a href="#" class="nav_link">Тарифы</a></li>
				<li class="nav_item"><a href="#" class="nav_link">Возможности</a></li>
				<li class="nav_item"><a href="#" class="nav_link">Контакты</a></li>
			</ul>
		</nav>
		<a href="#" class="burger"><span class="burger-icon"></span></a>
		<div class="header_contacts">
			<a href="tel:84956468682" class="header_phone">
				<svg class="header_phone--icon">
					<use xlink:href="img/sprite.svg#phone">
				</svg>
			+7 (495) 646-86-82</a>
		</div>
	</div>
</header>